
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-mic:before { content: '\e801'; } /* '' */
.icon-mic-circled:before { content: '\e802'; } /* '' */
.icon-volume-off:before { content: '\e803'; } /* '' */
.icon-volume-down:before { content: '\e804'; } /* '' */
.icon-volume:before { content: '\e805'; } /* '' */
.icon-volume-up:before { content: '\e806'; } /* '' */
.icon-calendar-circled:before { content: '\e807'; } /* '' */
.icon-person:before { content: '\e808'; } /* '' */
.icon-adult:before { content: '\e809'; } /* '' */
.icon-guidedog:before { content: '\e80a'; } /* '' */
.icon-blind:before { content: '\e80b'; } /* '' */
.icon-child:before { content: '\e80c'; } /* '' */
.icon-universal-access:before { content: '\e80d'; } /* '' */
.icon-facebook:before { content: '\e80e'; } /* '' */
.icon-vimeo:before { content: '\e80f'; } /* '' */
.icon-vkontakte:before { content: '\e810'; } /* '' */
.icon-flickr:before { content: '\e811'; } /* '' */
.icon-w3c:before { content: '\e812'; } /* '' */
.icon-foursquare:before { content: '\e813'; } /* '' */
.icon-friendfeed:before { content: '\e814'; } /* '' */
.icon-youtube:before { content: '\e815'; } /* '' */
.icon-friendfeed-rect:before { content: '\e816'; } /* '' */
.icon-github:before { content: '\e817'; } /* '' */
.icon-github-text:before { content: '\e818'; } /* '' */
.icon-googleplus:before { content: '\e819'; } /* '' */
.icon-instagram:before { content: '\e81a'; } /* '' */
.icon-cc:before { content: '\e81b'; } /* '' */
.icon-skype:before { content: '\e81c'; } /* '' */
.icon-slideshare:before { content: '\e81d'; } /* '' */
.icon-twitter:before { content: '\e81e'; } /* '' */
.icon-fire:before { content: '\e81f'; } /* '' */